@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

/* ダークモード時のネイティブ UI (スクロールバー、フォームコントロール) を調整 */
html.dark {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}
